.link {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 4px double white;
  width: 100%;
  max-width: 200px;

  background-color: blue;
  text-decoration: border;

  @apply hover:underline;

  &.hover {
    color: black;
    border: 4px double green;
    background-color: green;
  }

  &.active {
    background-color: red;
    background-color: dark-blue;
    color: green;
  }
  &.active:hover {
    border: 4px double red;
    background-color: yellow;
  }
}
.icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  color: white;
  background-color: blue;
  /* &.inactive.hover {
border: 4px double blue;
    background-color: blue;
    color: black;
  } */
  /* 
  &.active:hover {
    background-color: red-900;
    color: green-100;
  }
  &.inactive {
    background-color: blue-100;
    color: red-100;
  }
  &.inactive:hover {
    background-color: blue-900;
    color: red-100;
  } */
  /* @apply hover:bg-blue-100 hover:bg-opacity-20
    hover:text-red-100 hover:text-opacity-80
    hover:border-green-200 hover:border-opacity-80
    text-white; */

  /* color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  background-color: var(--color-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  text-align: center; */

  /* &.active {
    color: var(--color-primary);
    background-color: var(--color-background-active);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  } */

  /* &:hover {
    color: var(--color-primary);
    background-color: var(--color-background-hover);
  } */

  /* &.active:hover {
    color: var(--color-primary);
    background-color: var(--color-background-active);
    background-color: green-700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  } */
}
