.link {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 4px double white;
  width: 100%;
  max-width: 200px;

  background-color: #3b82f6;
  color: white;
  text-decoration: none;

  &.inactive {
    color: white;
    border: 4px double #ef4444;
    background-color: #ef4444;
    &:hover {
      color: black;
      border: 4px double #22c55e;
      background-color: #22c55e;
      text-decoration: underline;
    }
  }

  /* &.inactive {
    border: 2px dotted #ef4444;
    background-color:rgb(112, 102, 73);
  } */
  &.active {
    background-color: #1d4ed8;
    color: white;
    &:hover {
      border: 4px double #ef4444;
      background-color: #eab308;
    }
  }
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  color: white;
  background-color: transparent;
}
